/* You can add global styles to this file, and also import other style files */
body {
	font-size: 170%;
}
h1,h2 {
	font-size: 300%;
	font-weight: bold;
}
.btn {
	margin: 10px 15px;
	font-size: 2rem;
}


